@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* color-scheme: light dark; */
  background-color: #23283e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
